{% extends 'music/base.html' %} 

{% block body %}

  <img src="{{album.album_logo}}">
  <ul>
    <li>
      {{album.artist}} : {{album.artist_title}}
    </li>
  </ul>

  {% if error_message %}
  <p>
    <strong>{{ error_message }}</strong>
  </p>
  {% endif %}

  <form action="{% url 'music:favor' album.id %}" method="post">
    {% csrf_token %} 
    {% for song in album.song_set.all %}
      <input type="radio" id="song{{ for.loop.counter }}" name="song" value="{{ song.id }}" />
      <label for="song{{ for.loop.counter }}">
        {{ song.song_title }} 
        {% if song.is_favorite %}
          <img src="https://cdn.pixabay.com/photo/2016/03/31/17/33/icons-1293736_1280.png" width="15" height="15"/>
        {% endif %}
      </label><br>
    {% endfor %}
    <input type="submit" value="Favorites">
  </form>
{% endblock %}  