body{
    background: white url('');
}

/* https://cdn.pixabay.com/photo/2017/12/28/01/29/brick-wall-3044223_1280.jpg */

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Sedgwick Ave Display', cursive;
}